@{
    ViewData["Title"] = "Patrol Page";
}

<div class="text-center">
    <h1 class="display-3">Тестовое задание - v.0.6</h1>
    <div class="text-left">
        В настоящий момент реализован функционал по добавлению, просмотру, редактированию
        и удалению сущностей "Авиапатруль", а также добавлению и просмотру сущностей "Объект".
        Для хранения данных используется связь в БД осуществляется посредством ORM EntityFrameWork Core
        (в качестве БД используется SQLite). На уровне бизнес-логики применяется паттерн CQRS 
        посредством библиоткеи MediatR и маппинг сущностей посредством библиотеки Automapper.
    </div>
    <div class="text-left">
        В окне со списком патрулей есть возможность их сортировки (путем нажатия на заголовок
        столбца) и фильтрации через поле над списком. Подробный просмотр сущности, а также ее редактирование
        возможно путем нажатия на ее наименование. Удаление возможно из общего списка по кнопке справа
        от наименования.
    </div>
    <div class="text-left">
        Сущность "Авиапатруль" в настоящий момент далека от реальной предметной области и 
        имеет следующие поля: Id-номер, наименование, описание и объект-местоположение (c его 
        id-номером для возможности вытягивания значения из таблицы хранящей объекты) достаточных 
        для демонстрации основных CRUD-операций. Будет дополнена в случае необходимости и уточнения требований
        к тестовому заданию.
    </div>
</div>

