@{
    ViewData["Title"] = "Patrol Page";
}

<div class="text-center">
    <h1 class="display-3">Тестовое задание - v.0.5</h1>
    <div class="text-left">
        В настоящий момент реализован функционал по добавлению, просмотру, редактированию
        и удалению сущностей "Авиапатруль" и использованием EntityFrameWork Core (в качестве
        БД используется SQLite), библиотек AutoMapper, MediatR.
    </div>
    <div class="text-left">
        В окне со списком патрулей есть возможность их сортировки (путем нажатия на заголовок
        столбца) и фильтрации через поле над списком. Подробный просмотр сущности возможен 
        путем нажатия на ее наименование. Удаление возможно из общего списка по кнопке справа
        от наименования.
    </div>
    <div class="text-left">
        Сущность "Авиапатруль" в настоящий момент далека от реальной предметной области и 
        имеет всего 4 поля: Id-номер, наименование и описание достаточных для демонстрации
        основных CRUD-операций. Будет дополнена в случае необходимости и уточнения требований
        к тестовому заданию.
    </div>
</div>

