@model IEnumerable<PlaceListItemDto>

<h2>Список объектов</h2>

<table class="table table-sm">
    <tr>
        <th>
            Наименование объекта
        </th>
    </tr>
    @foreach (var place in Model)
    {
        <tr>
            <td>
                @place.Name
            </td>
        </tr>
    }
</table>
<a asp-controller="Place" asp-action="Create">Создать объект</a>
